# Example of environment file for docker-compose
# Copy this file into your own `.env` file

# ================================
# FreshRSS
# ================================

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.net

# =========================================
# For automatic FreshRSS install (optional)
# =========================================

ADMIN_PASSWORD=freshrss
ADMIN_API_PASSWORD=freshrss

# Address at which the FreshRSS instance will be reachable:
BASE_URL=https://rss.****-****.ts.net

# ===========================================================
# Database credentials
# ===========================================================

DB_HOST=localhost
DB_BASE=freshrss
DB_USER=freshrss
DB_PASSWORD=freshrss

# ===========================================================
# Tailscale Configuration
# ===========================================================

# Tailscale authorization key
TS_AUTHKEY=tskey-auth-********

# Tailscale tailnet node name
TAILNET_NAME=rss
TAILNET_SUFFIX=****-****.ts.net